<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        padding: 10px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 2px 16px;
    }
</style>
</head>

<body>

    <h2>Notes</h2>


    {% for note_id in notes_data %}
    <div class="card">

        <div class="container">
            <i class="fa fa-trash" onclick="deleteNote({{note_id}})" style="margin-left: 100%"></i>
            <h4 id="note_title_{{note_id}}" contenteditable="true" onchange="console.log('a')"
                onfocusout="updateNote({{note_id}})" onblur="updateNote({{note_id}})"><b> {{ notes_data[note_id].title }}</b></h4>
            <p id="note_body_{{note_id}}" contenteditable="true"> {{ notes_data[note_id].body }}</p>
        </div>
    </div>




    {% endfor %}

    <script>
        function deleteNote(note_id) {
            postData = { op: 'delete', data: { id: note_id } }
            note_crud(postData);
        }
        function updateNote(note_id) {
            note_title = document.getElementById('note_title_' + note_id).innerText
            note_body = document.getElementById('note_body_' + note_id).innerText 
            postData = { op: 'update', data: { id: note_id, title:note_title, body:note_body} }
            note_crud(postData);
        }
    </script>